@model Model.Entity.Usuario
@{
    ViewBag.Title = Model.Nome;
}

<ol class="breadcrumb">
    <li><a href="~/">Usuário</a></li>
    <li class="active">@(Model.Nome)</li>

</ol>

<div class="panel panel-default" summary="Tabela com detalhes do usuário" style="padding:10px;">
    <div class="panel-heading">Informação do Usuário</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.Matricula</dd>
            <dt>Nome</dt>
            <dd>@Model.Nome</dd>
            <dt>CPF</dt>
            <dd>@Model.Cpf</dd>
            <dt>Ramal</dt>
            <dd>@Model.Ramal</dd>
            <dt>Empresa</dt>
            <dd>@ViewBag.Empresa</dd>
        </dl>
        <dl class="form-group col-md-offset-1">
            <dt>
                <a class="btn btn-info" href="~/Usuario/Index">Voltar</a>
            </dt>
        </dl>
    </div>    
</div>

