@using Model.Entity
@model List<Gerente>
@{
    ViewBag.Title = "Buscar Por Matrícula";
}
<div class="panel panel-default" style="padding:10px;">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Usuário por:</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal" summary="Formulário de busca de gerentes">
                <fieldset>
                    <div class="form-row" style="padding-bottom:8px;">
                        <div class="form-group col-md-3">
                            @Html.Label("Nome", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtnome", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            @Html.Label("CPF", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBox("txtcpf", null, new { @class = "form-control", id = "txtCPF" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="col-xs-4">
                                <input class="btn btn-primary" type="submit" value="Buscar" />
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-info" href="~/Gerente/Index">Voltar</a>
                            </div>
                        </div>
                    </div>                    
                </fieldset>
            </div>
                       
        }
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped" summary="Tabela com dados dos gerentes" style="padding:10px;">
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>CPF</th>
            <th colspan="3">Operações</th>
        </tr>
        @foreach (var objGerente in Model)
        {
            <tr>
                <th>@objGerente.Matricula</th>
                <th>@objGerente.Nome</th>
                <th>@objGerente.Cpf</th>
                <td><a class="btn btn-success" href="~/Gerente/Find/@objGerente.Matricula">Detalhes</a></td>
                <td><a class="btn btn-info" href="~/Gerente/Update/@objGerente.Matricula">Editar</a></td>
                <td><a class="btn btn-danger" href="~/Gerente/Eliminar/@objGerente.Matricula">Excluir</a></td>
            </tr>
        }
        <tr></tr>
    </table>
    </div>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {
                $('#txtCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
            });

        </script>
    }
