@model Model.Entity.Empresa
@{
    ViewBag.Title = Model.NomeFantasia;
}

<ol class="breadcrumb">
    <li><a href="~/Empresa/Index">Empresas</a></li>
    <li class="active">@(Model.NomeFantasia)</li>

</ol>
<div class="well well-sm text-primary text-center">
    @ViewBag.MensagemInicialEliminar
</div>
<div class="panel panel-default" summary="Tabela com informações da empresa a ser excluida" style="padding:10px;">
    <div class="panel-heading">Informações da Empresa</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.CodEmpresa</dd>

            <dt>CNPJ</dt>
            <dd>@Model.Cnpj</dd>

            <dt>Razão Social</dt>
            <dd>@Model.RazaoSocial</dd>

            <dt>Nome</dt>
            <dd>@Model.NomeFantasia</dd>

            <dt>Telefone</dt>
            <dd>@Model.Telefone</dd>

            <dt>Logradouro</dt>
            <dd>@Model.Logradouro</dd>

            <dt>Complemento</dt>
            <dd>@Model.Complemento</dd>

            <dt>Cidade</dt>
            <dd>@Model.Cidade</dd>

            <dt>
                <abbr title="Unidade Federativa">
                  UF
                </abbr>
            </dt>
            <dd>@Model.Uf</dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="form-group col-md-3">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
            |
            <div class="form-group col-md-3">
                <a class="btn btn-info" href="~/Empresa/Index">Voltar</a>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-primary text-success text-center">
                    @ViewBag.MensagemExito
                </div>
                <div class="text-primary text-danger text-center">
                    @ViewBag.MensagemErro
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemExito != null || ViewBag.MensagemErro != null)
{
    @section Scripts{
        <script>
            $(function () {
                $('#exampleModal').modal('show');
            });
        </script>
    }

}