@model Model.Entity.Empresa
@{
    ViewBag.Title = "Editar Empresas";
}

<h2 class="text-center">@ViewBag.MensagemInicialAtualizar</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal" summary="Tabela com informações da empresa a ser alterada" style="padding:10px;">
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.CodEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CodEmpresa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório - (máx 30 caracteres)</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório - (máx 30 caracteres)</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório - (máx 30 caracteres)</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório - (máx 40 caracteres)</small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="alert-danger">*Campo obrigatório - (máx 30 caracteres)</small>
                </div>
            </div>

            <div class="form-group">
                <abbr title="Unidade Federativa">
                    @Html.LabelFor(model => model.Uf, htmlAttributes: new { @class = "control-label col-md-2" })
                </abbr>   
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Uf, new { htmlAttributes = new { @class = "form-control" } })
                        <small class="alert-danger">*Campo obrigatório - (máx 2 caracteres)</small>
                    </div>
</div>

            <div class="form-actions col-md-offset-2">
                <div class="form-group col-md-3">
                    <input class="btn btn-primary" type="submit" name="btnsalvar" value="Salvar" />
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn-info" href="~/Empresa/Index">Voltar</a>
                </div>
            </div>

        </fieldset>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-primary text-success text-center">
                    @ViewBag.MensagemExito
                </div>
                <div class="text-primary text-danger text-center">
                    @ViewBag.MensagemErro
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemExito != null || ViewBag.MensagemErro != null)
{
    @section Scripts{
        <script>
            $(function () {
                $('#exampleModal').modal('show');
            });
        </script>
    }

}


