@model List<Model.Entity.Chamado>
@{
    ViewBag.Title = "Chamados Finalizados";
}

<h2 class="text-center text-success">Chamados Finalizados</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped" summary="Tabela com chamados fechados" style="padding:10px;">
        <thead>
            <tr class="bg-primary">
                <th>Protocolo</th>
                <th>Cliente</th>
                <th>Atendente</th>
                <th>Data de Abertura</th>
                <th>Data de Finalização</th>
                <th>Descrição</th>
                <th>Solução</th>
                <th>Operação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objChamado in Model)
            {
                <tr>
                    <td>@objChamado.Protocolo</td>
                    @foreach (var item in ViewBag.ListaCliente)
                    {
                        if (item.Matricula == objChamado.Cliente)
                        {
                            <td>@item.Nome</td>
                            break;
                        }
                    }
                    @foreach (var item in ViewBag.ListaAtendente)
                    {
                        if (item.Matricula == objChamado.Atendente)
                        {
                            <td>@item.Nome</td>
                            break;
                        }
                    }
                    <td>@objChamado.DataAbertura</td>
                    <td>@objChamado.DataFinalizacao</td>
                    <td>@objChamado.DescChamado</td>
                    <td>@objChamado.DescSolucao</td>
                    <td><a class="btn btn-success" href="~/Chamado/Detalhes/@objChamado.Protocolo">Detalhes</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>




